.login {
  width: 90%;
  max-width: 64rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  box-shadow: 1px 0px 6px gray;
  position: relative;

  z-index: 9999;
  @include breakpoints(486px) {
    margin: 1.5rem;
  }

  &__heading {
    text-align: center;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    padding: 1rem 0;
    font-weight: 600;
    color: $primary;

    @include breakpoints(490px) {
      font-size: 1.7rem;
    }
  }

  &__logo {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    @include breakpoints(490px) {
      height: 6rem;
    }
  }
  &__logo-img {
    height: 100%;
  }
  &__media {
    display: none;
    @include breakpoints(486px) {
      display: flex;
      width: 50%;
    }
  }
  &__img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 1;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  &__content {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    @include breakpoints(486px) {
      width: 50%;
    }
    @include breakpoints(490px) {
      padding: 2rem;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
