$primary: #ffffff;
$secondary: #f9f9f9;
$btn-bg-color: #f65867;
$btn-bg-hover: #f65868dd;

$warning-color: #f65565;
$success-color: #68ba86;
$error-color: #d01225;

$primary-dark: #353334;
$secondary-dark: #4d4949;
$bg-dark: #201c1d;
