$primary: #ffffff;
$secondary: #f9f9f9;
$btn-bg-color: #f65867;
$btn-bg-hover: #f65868dd;
$input-bg: #f8f8f8;

$warning-color: #f65565;
$success-color: #68ba86;
$error-color: #d01225;

$primary-dark: #353334;
$secondary-dark: #4d4949;
$bg-dark: #201c1d;

$indigo: #4b0082;
$menu-hover-clr: #695bf4;
$menu-txt-clr: #585857;
$shadow-gray: rgb(152, 152, 152);

// shadow
$base-shadow: 0px 1px 4px $shadow-gray;

// border
$base-border-clr: #c6c6c6;

// text color
$txt-clr: #4e4e4e;
